<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
              http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

	 <servlet>
			<servlet-name>LocationGetter</servlet-name>
			<servlet-class>jp.leopanda.locationGetter.Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LocationGetter</servlet-name>
		<url-pattern>/locationgetter</url-pattern>
	</servlet-mapping>
	 <servlet>
			<servlet-name>LocationGetterTester</servlet-name>
			<servlet-class>jp.leopanda.locationGetter.test.Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LocationGetterTester</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>	 
</web-app>